:root {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unit-selector {
  display: flex;
  width: 6rem;
  height: 3rem;
  border: 1px solid;
}

.unit-selector > div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.unit-selector > div:first-child {
  border-right: 1px solid;
}
